{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/intern-home.css' %}">
{% endblock %}

{% block content %}
  
  <h2>Bienvenido, {{ user.first_name }} {{ user.last_name }}</h2>

  <div class="profile-menu">
    <ul>
      <li><a href="{% url 'edit_intern_profile' %}">Editar Perfil</a></li>
      <li><a href="{% url 'list_jobs' %}">Ver Vacantes Disponibles</a></li>
      <form action="{% url 'logout' %}" method="POST" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Cerrar sesión</button>
      </form>
    </ul>
  </div>

  <div class="content-section">
    <h3>Mis Postulaciones</h3>
    <ul>
      {% for application in applications %}
        <li>
          <strong>{{ application.job.title }}</strong><br>
          Estado: {{ application.status }}<br>
          <!-- Medidor de progreso -->
          <div class="progress-bar">
            <div class="progress" style="width: 
                {% if application.status == 'applied' %}25%
                {% elif application.status == 'interview' %}50%
                {% elif application.status == 'hired' %}100%
                {% elif application.status == 'rejected' %}100%
                {% endif %};"></div>
        </div>
        </div>

        <!-- Botón para eliminar la postulación -->
        <div>
          <form action="{% url 'delete_application' application.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" style="background-color: red; color: white; padding: 5px 10px; border: none; cursor: pointer;">
              Eliminar
            </button>
          </form>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
