
{% extends "base.html" %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<h2>Establecer nueva contraseña</h2>
<p>Ingrese una nueva contraseña y confírmela.</p>

<form method="POST">
    {% csrf_token %}
    <label for="new_password">Nueva contraseña:</label>
    <input type="password" name="new_password" required>
    
    <label for="confirm_password">Confirmar contraseña:</label>
    <input type="password" name="confirm_password" required>
    
    <button type="submit">Cambiar contraseña</button>
</form>

{% if messages %}
  <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}
